/* Grids */
.grid-roxo{
	background:#5234AC;
}
.grid-verde{
	background:#008B17;
}
.grid-azul{
	background:#2573EB;
}
.grid-facebook{
	background:#415e9b;
}
.grid-twitter{
	background:#33b5e5;
}
.grid-vermelho{
	background:#B21A41;
}
.grid-laranja{
	background:#D64D29;
}
.grid-info{
	background:#5E9BFB;
}
.grid-ps6{
	background:#312482;
}
.grid-games{
	background:#008080;
}
/* Fim das Cores dos Grids */
.grid {
	position:relative;
    height:125px;
    margin-right:10px;
    margin-top:10px;
    cursor:pointer;
    float:left;
    font-family: "Segoe UI Light","Segoe UI",Verdana, Tahoma, Arial;
	transition:all 0.5s linear 0s;
}

.grid:hover {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.grid-panel {
    clear:both;
    width:1080px;
	height:138px;
	margin:0px auto;
}

.grid .imgsimple {
    height:55px;
    width:64px;
    padding:20px 53px 10px 53px;
    border:0px;
    text-align:center;
    float:left;
    position:relative;
}

.grid .imgdouble {
    float:left;
    width:100%;
    padding:20px 0px 10px 0px;
    text-align:center;
}

.grid .imglabeled {
    float:left;
    padding:30px 0px 0px 10px;
    text-align:left;
}

.grid span {
    position:relative;
    height:20px;
    text-decoration:none;
    color:rgba(255, 255, 255, 1.0);
    float:left;
    text-align:center;
    clear:both;
    width:100%;
    bottom:0px;
}

.grid .gridlabel {
    text-decoration:none;
    color:rgba(255, 255, 255, 1.0);
    float:left;
    text-align:center;
    font-size:28px;
    margin-top:40px;
}

.grid span:hover {
}

.gridsingle {
    width:170px;
}

.griddouble {
    width:350px;
}

.grid-destaque-rodape {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:26px;
	padding-top:4px;
}